body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cc-input .MuiInputBase-root {
    font-size: 14px;
    height: 30px !important;
}

.cc-label {
    font-size: 13px !important;
    font-weight: 500 !important;
}

.title-navbar {
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #2295FF !important;
}

.icon-close-button {
    color: gray !important;
}

.icon-close-button:hover {
    color: red !important;
}

#sysMenu .MuiDialog-container .MuiDialog-paper {
    width: 25vw !important;
    height: 100vh !important;
}

#sysMenu1 .MuiDialog-container .MuiDialog-paper {
    width: 50vw !important;
    height: 100vh !important;
}

#sysMenu2 .MuiDialog-container .MuiDialog-paper {
    width: 75vw !important;
    height: 100vh !important;
}

#sysMenu3 .MuiDialog-container .MuiDialog-paper {
    width: 100vw !important;
    height: 100vh !important;
}

#sysMenu-0 .MuiDialog-container .MuiDialog-paper {
    width: 25vw !important;
    height: 25vh !important;
}

#sysMenu-1 .MuiDialog-container .MuiDialog-paper {
    width: 25vw !important;
    height: 50vh !important;
}

#sysMenu-2 .MuiDialog-container .MuiDialog-paper {
    width: 25vw !important;
    height: 75vh !important;
}

#sysMenu1-0 .MuiDialog-container .MuiDialog-paper {
    width: 50vw !important;
    height: 25vh !important;
}

#sysMenu1-1 .MuiDialog-container .MuiDialog-paper {
    width: 50vw !important;
    height: 50vh !important;
}

#sysMenu1-2 .MuiDialog-container .MuiDialog-paper {
    width: 50vw !important;
    height: 75vh !important;
}

#sysMenu2-0 .MuiDialog-container .MuiDialog-paper {
    width: 75vw !important;
    height: 25vh !important;
}

#sysMenu2-1 .MuiDialog-container .MuiDialog-paper {
    width: 75vw !important;
    height: 50vh !important;
}

#sysMenu2-2 .MuiDialog-container .MuiDialog-paper {
    width: 75vw !important;
    height: 75vh !important;
}

@media screen and (max-width: 768px) {
    #sysMenu .MuiDialog-container .MuiDialog-paper,
    #sysMenu1 .MuiDialog-container .MuiDialog-paper,
    #sysMenu2 .MuiDialog-container .MuiDialog-paper,
    #sysMenu3 .MuiDialog-container .MuiDialog-paper {
        width: 100vw !important;
    }
}